/* CSS Reset */
* {

	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif; /* fallback/default font */
	color: #b76e79; /* default font color*/
}

a {
	color: #b76e79;
}

#rafaLogo {
	width: 5vh;
	height: 5vh;
}

footer,#home {
	background: #000000; 
}

#burgerIcon {
	border-color: #b76e79;
 	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='-9 -1 50 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(72,43,47, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#aboveFold {
    background:
	linear-gradient(
		rgba(72,43,47,0.75),
		rgba(0,0,0,0.75)
		),
	url(https://images.pexels.com/photos/196658/pexels-photo-196658.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
}

#htmlLogo {
	width: 10vh;
	height: 10vh;
}

#bootstrapLogo {
	width: 10vh;
	height: 10vh;
}

#cssLogo {
	width: 10vh;
	height: 10vh;
}

#jsLogo {
	width: 10vh;
	height: 10vh;
}

#GoogleMap {
	width: 100%;
	display: block;
	border: none;
	height: 62vh;
	border-radius: 10px;
}
/* Skill Progress */
#progressBarHTML {
	width: 80%;
	background-color: #b76e79;
}

#progressBarCSS {
	width: 60%;
	background-color: #b76e79;
}

#progressBarBootstrap {
	width: 30%;
	background-color: #b76e79;
}

#progressBarJS {
	width: 5%;
	background-color: #b76e79;
}